
<body>
  <h1>Quiz Game V2 with db</h1>
  <div id="quiz">
    <% @all_questions.each do |question| %>
      <% if question.id == 1 %>
        <% @class =  "unhide"%>
      <% else %>
        <% @class = "" %>
      <% end %>
      <div id="question<%= question.id %>" class="<%= @class %> smoosh">      
        <p><%= question.question %></p>
        <input type="hidden" value="<%= question.id %>" id="question_number">
        <input type="hidden" value="<%= question.answer %>" id="answer<%= question.id %>">
        <input type="hidden" value="<%= @all_questions.length %>" id="number_of_questions">
      </div>
    <% end %>
    <% @all_choices.each do |choice| %>
      <% if choice.id == 1 %>
        <% @class =  "unhide"%>
      <% else %>
        <% @class = "" %>
      <% end %>
      <div id="choice<%= choice.id %>" class="<%= @class %> smoosh choices">
        <p><%= choice.choice %></p>
      </div>
    <% end %>
  </div>
  <div class="form_wrapper unhide">
    <input type="text" id="user_answer">
    <input type="submit" id="submitter">
    <div id="question_result"></div>
    <input type="submit" id="next" value="Next Question">
    <div id="total_result"></div>
  </div>
  
  <script type="text/javascript" src="global.js"></script>
</body>